

.spacer_t1 {
	height: 5px;
}

.spacer_t2 {
	height: 10px;
}

.spacer_t3 {
	height: 20px;
}

.custom-area {
	resize: none;
}

.customtriple {
	margin-left: 7%;
}

.cabecillas {
	background-color: #BBC9EF;
}

.form-control {
	padding: 2px 6px !important;
	height: 28px;
}

.bordel {
	border: 1px solid rgb(51, 122, 183);
	padding-bottom: 6px;
	border-radius: 7px;
}

.panel-result {
	padding: 3px;
}

.panel-result-padre {
	margin-bottom: 0;
}

/* LABEL REQUIRED */
label.required {
    font-weight: bold;
	color: #04229a !important;
}

/*	OVERWRITE TITULOS H2*/

h2{
	/*color: #4756ff !important; color securitas direct*/
	color: #337ab6 !important; /* color plantilla nuestra*/
	font-style: italic;
}
/* OVERWRITE INPUTS */
.input-custom-global{
	height: 22px !important;
	font-size: 12px;
	font-family: tahoma;

}
/* OVERWRITE INPUTS LABEL*/
.labelcent {
	top: 50%;
	position: relative;
	padding-top: 0px !important;
	font-size: 12px !important;
	font-style: italic;
	/*color: #04229a !important; color securitas direct*/
	color: #337ab6 !important; /*color plantilla nuestra*/
	padding-left: 5px;
	padding-right: 5px;
}