<?xml version="1.0" encoding="UTF-8"?>
<beans default-lazy-init="true" xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:task="http://www.springframework.org/schema/task" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
			http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd
			http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
			http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
			http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.2.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
			http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">
    <description><![CDATA[
		Main entry point for spring configuration
	]]></description>


    <!-- context -->
    <context:component-scan base-package="es.securitasdirect.tareas">
        <!-- exclude web beans as they live in the web application context -->
        <!-- Note: this regexp does not work if you try to escape the '.' -->
        <context:exclude-filter type="regex" expression="es.securitasdirect.tareas.web.*"/>
    </context:component-scan>
    <!--<context:property-placeholder location="classpath*:database.properties,classpath*:hibernate.properties,classpath*:app-version.properties"/>-->

    <!-- TODO COMENTAR -->
    <!-- Valores para el campo DESPLEGABLE DE CIERRE , que se rellenarán en función del tipo de aviso    -->

    <util:map id="datosAdicionalesCierreTareaAviso" map-class="java.util.HashMap" key-type="java.lang.Integer" value-type="java.lang.String">
        <entry key="1" value="Dato Adicional Cierre 1"/>
        <entry key="2" value="Dato Adicional Cierre 2"/>
    </util:map>

    <util:map id="datosAdicionalesCierreTareaExcel" map-class="java.util.HashMap" key-type="java.lang.Integer" value-type="java.lang.String">
        <entry key="1" value="Dato Adicional Cierre 1"/>
        <entry key="2" value="Dato Adicional Cierre 2"/>
    </util:map>

    <!-- TODO COMENTAR
    La clave del primer mapa es el tipo de la tarea de Aviso
    -->
    <util:map id="datosCierreTareaAviso" map-class="java.util.HashMap" key-type="java.lang.String" value-type="java.util.Map">
        <entry key="111">
            <util:map map-class="java.util.HashMap" key-type="java.lang.Integer" value-type="java.lang.String">
                <entry key="1" value="Dato  Cierre 1 tipo 111"/>
                <entry key="2" value="Dato  Cierre 2 tipo 111"/>
            </util:map>
        </entry>
        <entry key="222">
            <util:map map-class="java.util.HashMap" key-type="java.lang.Integer" value-type="java.lang.String">
                <entry key="1" value="Dato  Cierre 1 tipo 222"/>
                <entry key="2" value="Dato  Cierre 2 tipo 222"/>
            </util:map>
        </entry>
    </util:map>

    <util:map id="callingListToModel" map-class="java.util.HashMap" key-type="java.lang.String" value-type="java.util.List" >
        <entry key="TareaAviso">
            <util:list list-class="java.util.ArrayList" value-type="java.lang.String">
                <value>CL_CCT_Averia_Test</value>
                <value>CL_CCT_ATT_Averia_Test</value>
                <value>CL_CCT_ATC_CRA</value>
                <value>CL_CCT_ATC_Recla</value>
                <value>CL_CCT_ATT_Averia_Cam</value>
                <value>CL_CCT_ATT_Averia_FastI</value>
                <value>CL_CCT_ATT_Averia_FastII</value>
                <value>CL_CCT_ATT_Averia_Iridium</value>
                <value>CL_CCT_ATT_Averia_Oldclass</value>
                <value>CL_CCT_ATT_Averia_SDM</value>
                <value>CL_CCT_ATT_Camaras</value>
                <value>CL_CCT_BO</value>
                <value>CL_CCT_BO_Recla</value>
                <value>CL_CCT_GI_Robo1</value>
                <value>CL_CCT_GI_Robo2</value>
                <value>CL_CCT_Ingles_ATC</value>
                <value>CL_CCT_Ingles_ATT</value>
                <value>CL_CCT_ODC</value>
            </util:list>
        </entry>
        <entry key="TareaEncuestaMantenimiento">
            <util:list list-class="java.util.ArrayList" value-type="java.lang.String">
                <value>CL_CCT_XLS_ENCUESTAS_MTOS</value>
            </util:list>
        </entry>
        <entry key="TareaEncuestaMarketing">
            <util:list list-class="java.util.ArrayList" value-type="java.lang.String">
                <value>CL_CCT_XLS_ENCUESTAS_MKT</value>
            </util:list>
        </entry>
        <entry key="TareaKeybox">
            <util:list list-class="java.util.ArrayList" value-type="java.lang.String">
                <value>CL_CCT_XLS_KEYBOX</value>
            </util:list>
        </entry>
        <entry key="TareaLimpiezaCuota">
            <util:list list-class="java.util.ArrayList" value-type="java.lang.String">
                <value>CL_CCT_XLS_LIMPIEZA_CUOTA</value>
            </util:list>
        </entry>
        <!--<entry key="TareaListadoAssistant">
            <util:list list-class="java.util.ArrayList" value-type="java.lang.String">
                <value>???</value>
            </util:list>
        </entry>-->
        <!--<entry key="TareaOtrasCampanas">
            <util:list list-class="java.util.ArrayList" value-type="java.lang.String">
                <value>???</value>
            </util:list>
        </entry>-->
        <!--
        CL_CCT_XLX,
          CL_CCT_XLS_ATC,
           CL_CCT_XLS_ATT,
           CL_CCT_XLS_BO,
           CL_CCT_XLS_GGCC,
           CL_CCT_XLS_GI,
           CL_CCT_XLS_HL,
           CL_CCT_XLS_ODC-->
        <entry key="TareaMantenimiento">
            <util:list list-class="java.util.ArrayList" value-type="java.lang.String">
                <value>CL_TAREAS_DIY</value>
            </util:list>
        </entry>
    </util:map>


</beans>
