<?xml version="1.0" encoding="UTF-8"?>
<beans default-lazy-init="true" xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:task="http://www.springframework.org/schema/task" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
			http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd
			http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
			http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
			http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.2.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
			http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd" xmlns:cxf="http://cxf.apache.org/core">
    <description><![CDATA[
		Configuracion de los Web Services
	]]></description>


    <!-- CXF -->
    <import resource="classpath:META-INF/cxf/cxf.xml"/>
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml"/>

    <bean id="abstractLoggingInterceptor" abstract="true">
        <property name="prettyLogging" value="true"/>
    </bean>
    <bean id="loggingInInterceptor" class="org.apache.cxf.interceptor.LoggingInInterceptor" parent="abstractLoggingInterceptor"/>
    <bean id="loggingOutInterceptor" class="org.apache.cxf.interceptor.LoggingOutInterceptor" parent="abstractLoggingInterceptor"/>

    
    <cxf:bus>
        <cxf:inInterceptors>
            <ref bean="loggingInInterceptor"/>
        </cxf:inInterceptors>
        <cxf:outInterceptors>
            <ref bean="loggingOutInterceptor"/>
        </cxf:outInterceptors>
        <cxf:outFaultInterceptors>
            <ref bean="loggingOutInterceptor"/>
        </cxf:outFaultInterceptors>
        <cxf:inFaultInterceptors>
            <ref bean="loggingInInterceptor"/>
        </cxf:inFaultInterceptors>
    </cxf:bus>

    <!-- Web Services Cliente -->
    <jaxws:client name="wsSPInstallationMonData"
        serviceClass="org.wso2.ws.dataservice.SPInstallationMonDataPortType"
        address="http://10.2.144.63:9763/services/SP_InstallationMonData?wsdl"
        />
    <!-- TODO Parametro por JNDI, fichero configuracion????? -->

    <jaxws:client name="wsSpAvisosOperaciones"
                  serviceClass="org.wso2.ws.dataservice.SPAVISOSOPERACIONESPortType"
                  address="http://10.2.144.63:9763/services/SP_AVISOS_OPERACIONES?wsdl"
            />
    <!-- TODO Parametro por JNDI, fichero configuracion????? -->


    <jaxws:client name="wsSpAioTareas2"
                  serviceClass="org.wso2.ws.dataservice.SPAIOTAREAS2PortType"
                  address="http://10.2.144.63:9763/services/SP_AIO_TAREAS2?wsdl"
            />
    <!-- TODO Parametro por JNDI, fichero configuracion????? -->

    <jaxws:client name="cclIntegration"
                  serviceClass="com.webservice.CCLIntegration"
                  address="http://es1devcclvip:8011/AllInOne_CCL/CCLIntegrationService?wsdl"
            />
    <!-- TODO Parametro por JNDI, fichero configuracion????? -->

</beans>
