<?xml version="1.0" encoding="UTF-8"?>
<beans default-lazy-init="true" xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:task="http://www.springframework.org/schema/task" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
			http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd
			http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
			http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
			http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.2.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
			http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">
    <description><![CDATA[
		Main entry point for spring configuration
	]]></description>


    <!-- context -->
    <context:component-scan base-package="es.securitasdirect.tareas">
        <!-- exclude web beans as they live in the web application context -->
        <!-- Note: this regexp does not work if you try to escape the '.' -->
        <context:exclude-filter type="regex" expression="es.securitasdirect.tareas.web.*"/>
    </context:component-scan>
    <!--<context:property-placeholder location="classpath*:database.properties,classpath*:hibernate.properties,classpath*:app-version.properties"/>-->

    <!-- Usuario de aplicación definido para las llamadas a servicios utilizadas en el aplicativo -->
    <bean id="applicationUser" class="java.lang.String">
        <constructor-arg value="Tareas"/>
    </bean>

    <!-- Número de Proceso para consultar a Infopoint por los permisos para crear un mantenimiento -->
    <bean id="processCodeCreateMaintenanceInfopoint" class="java.lang.String">
        <constructor-arg value="829"/>
    </bean>

    <!-- URL de la aplicación para crear los mantenimientos en TOA -->
    <bean id="externalCreateAppointmentUrlTOA" class="java.lang.String">
        <constructor-arg value="http://es1infotest01v/FSMAppointmentManager/CreateAppointmentModal.aspx"/>
    </bean>

    <!-- URL de la aplicación para crear los mantenimientos en MMS -->
    <bean id="externalCreateAppointmentUrlMMS" class="java.lang.String">
        <constructor-arg value="http://es1infotest01v/FSMAppointmentManager/CreateAppointmentModal.aspx"/>
    </bean>



    <!-- Lista y valores del combo de Tipos de Cierre para Tareas de Tipo Mantenimiento -->
    <util:list id="datosCierreTareaMantenimiento" value-type="es.securitasdirect.tareas.model.external.DescriptionPair" list-class="java.util.ArrayList">
        <bean class="es.securitasdirect.tareas.model.external.DescriptionPair">
            <property name="id" value="BTNDIY" />
            <!-- El value es la clave de internacionalizacion del fichero messages.properties -->
            <property name="value" value="cancelationType.BTNDIY.text" />
            <!-- El value es la clave de internacionalizacion del fichero messages.properties -->
            <property name="description" value="cancelationType.BTNDIY.description" />
        </bean>
        <bean class="es.securitasdirect.tareas.model.external.DescriptionPair">
            <property name="id" value="BTNMTO" />
            <property name="value" value="cancelationType.BTNMTO.text" />
            <property name="description" value="cancelationType.BTNMTO.description" />
        </bean>
        <bean class="es.securitasdirect.tareas.model.external.DescriptionPair">
            <property name="id" value="BTNERR" />
            <property name="value" value="cancelationType.BTNERR.text" />
            <property name="description" value="cancelationType.BTNERR.description" />
        </bean>
    </util:list>


    <!--
        Datos cierre para tareas tipo excel, debería venir por WS pero de momento está configurado por spring
        -->
    <util:list id="datosCierreTareaExcel" value-type="es.securitasdirect.tareas.model.external.Pair" list-class="java.util.ArrayList">
        <bean class="es.securitasdirect.tareas.model.external.Pair">
            <property name="id" value="1" />
            <property name="value" value="AVISO GESTIONADO" />
        </bean>
        <bean class="es.securitasdirect.tareas.model.external.Pair">
            <property name="id" value="2" />
            <property name="value" value="Compensacion" />
        </bean>
        <bean class="es.securitasdirect.tareas.model.external.Pair">
            <property name="id" value="3" />
            <property name="value" value="ACUERDO CON CLIENTE" />
        </bean>
        <bean class="es.securitasdirect.tareas.model.external.Pair">
            <property name="id" value="4" />
            <property name="value" value="NO PROCEDE APERTURA" />
        </bean>
        <bean class="es.securitasdirect.tareas.model.external.Pair">
            <property name="id" value="5" />
            <property name="value" value="DESMONTAJE" />
        </bean>
    </util:list>

    <!--
    Lista de las calling list utilizadas por la aplicación y el mapeo a
    -->
    <util:map id="callingListToModel" map-class="java.util.HashMap" key-type="java.lang.String" value-type="java.util.List" >
        <entry key="TareaAviso">
            <util:list list-class="java.util.ArrayList" value-type="java.lang.String">
                <value>CL_CCT_ATT_Averia_Test</value>
                <value>CL_CCT_ATC_CRA</value>
                <value>CL_CCT_ATC_Recla</value>
                <value>CL_CCT_ATT_Averia_Cam</value>
                <value>CL_CCT_ATT_Averia_FastI</value>
                <value>CL_CCT_ATT_Averia_FastII</value>
                <value>CL_CCT_ATT_Averia_Iridium</value>
                <value>CL_CCT_ATT_Averia_Oldclass</value>
                <value>CL_CCT_ATT_Averia_SDM</value>
                <value>CL_CCT_ATT_Camaras</value>
                <value>CL_CCT_BO</value>
                <value>CL_CCT_BO_Recla</value>
                <value>CL_CCT_GI_Robo1</value>
                <value>CL_CCT_GI_Robo2</value>
                <value>CL_CCT_Ingles_ATC</value>
                <value>CL_CCT_Ingles_ATT</value>
                <value>CL_CCT_ODC</value>
            </util:list>
        </entry>
        <entry key="TareaMantenimiento">
            <util:list list-class="java.util.ArrayList" value-type="java.lang.String">
                <value>CL_TAREAS_DIY</value>
            </util:list>
        </entry>
        <entry key="TareaEncuestaMantenimiento">
            <util:list list-class="java.util.ArrayList" value-type="java.lang.String">
                <value>CL_CCT_XLS_ENCUESTAS_MTOS</value>
            </util:list>
        </entry>
        <entry key="TareaEncuestaMarketing">
            <util:list list-class="java.util.ArrayList" value-type="java.lang.String">
                <value>CL_CCT_XLS_ENCUESTAS_MKT</value>
            </util:list>
        </entry>
        <entry key="TareaKeybox">
            <util:list list-class="java.util.ArrayList" value-type="java.lang.String">
                <value>CL_CCT_XLS_KEYBOX</value>
            </util:list>
        </entry>
        <entry key="TareaLimpiezaCuota">
            <util:list list-class="java.util.ArrayList" value-type="java.lang.String">
                <value>CL_CCT_XLS_LIMPIEZA_CUOTA</value>
            </util:list>
        </entry>
        <entry key="TareaListadoAssistant">
            <util:list list-class="java.util.ArrayList" value-type="java.lang.String">
                <value>CL_CCT_XLS_ASSISTANT</value>
            </util:list>
        </entry>
        <entry key="TareaOtrasCampanas">
            <util:list list-class="java.util.ArrayList" value-type="java.lang.String">
                <value>CL_CCT_XLS_ATC</value>
            </util:list>
        </entry>


    </util:map>


</beans>
